.main-page {
  width: 50%;
  margin: auto;
  display: flex;
    justify-content: center;
    align-items: center;
  /* display: flex;
  flex-direction: column;
  justify-content: space-evenly; */
}

@media(max-width:769px) {
  .main-page {
    width: 80%;
  }
}

@media(max-width:696px) {
  .main-page {
    width: 97%;
  }
}